fabbazaar.app {
	tls /certs/fabbazaar.app.pem /certs/fabbazaar.app.key

	reverse_proxy nextjs:3000

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}
